@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px 150px;
    height: 80px;

}

.logo img {
    max-width: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

.photo-block {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.photo-block img {
    width: 100%;
    height: auto;
}

.photo-block .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
}

.text-content {
    padding: 20px 150px;
    width: 1010px;
    position: absolute;
    top: 30%;
    color: white;
    text-align: left;
    z-index: 2;
}

.line {
    width: 65%;
    height: 1px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 20px;

}

h1 {
    font-weight: inherit;
    font-size: 38px;
}

h2 {
    text-align: center;
    font-weight: inherit;
    font-size: 38px;
}

p {
    font-weight: 300;
    font-size: 19px;
}

/* УСЛУГИ */

.lines {
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 30px auto;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px 150px;
}

.services-block {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 70px 0; 
}

.card-block {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

.card {
    border: 1px solid white;
    border-radius: 10px;
    color: #ffffff;
    padding: 20px;
}

.card h3 {
    font-weight: inherit;
    font-size: 26px;
}

.card p {
    margin: 10px 0 0;
    font-weight: 300;
    font-size: 19px;
}

services {
    position: relative;
    padding: 50px 0;
}


services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/foto.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* ПРОДУКТЫ */

.products-block {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 70px 0; 
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px 150px;
}

.cards-block {
    display: flex;
    gap: 40px;
}

.cards {
    width: 380px;
    padding: 10px;
    text-align: left;
}

.cards h3 {
    border: 1px solid white;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: inherit;
}

/* ОБРАТНАЯ СВЯЗЬ */

.contact-section {
    position: relative;
    display: flex;
    background-image: url('img/form.png');
    background-size: cover;
    background-position: center;
    padding: 20px 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white; 
}

.contact-section::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1; 
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    position: relative; 
    z-index: 2;
}

.form-container {
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    flex: 1; 
    margin-left: 40px;
    padding: 20px;
    position: relative; 
    z-index: 2; 
}

.form-group {
    margin-bottom: 15px; 
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px; 
    border: none;
}

.form-group button {
    width: 100%;
    background: linear-gradient(to right,rgba(63, 108, 220, 1),rgba(34, 58, 118, 1));
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px; 
    cursor: pointer; 
}

.form-group button:hover {
    background-color: #f0f0f0;
}

.form-group label {
    display: block; 
}

.form-group textarea {
    resize: vertical; 
}

button {
    width: 100%;
    background: linear-gradient(to right,rgba(63, 108, 220, 1),rgba(34, 58, 118, 1));
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px; 
    cursor: pointer; 
}

/* footer */

footer {
    background-color: #000000; 
    color: white; 
    padding: 60px 120px; 
    margin-top: 20px;
}

.footer-content {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start; 
}

.logo-section {
    flex: 1; 
}

.links-section, .contacts-section {
    flex: 1; 
    margin-left: 150px; 
}

.footer-content p {
    font-size: 13px;
    font-weight: 300;
}

.footer-content h5 {
    margin-bottom: 20px; 
    font-size: 15px;
    font-weight:600;
}

a {
    text-decoration: none; 
    color: white; 
}

.links-section p,
.contacts-section p {
    margin-bottom: 15px; 
}